<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <!-- criar logo com tamanho 32x32  -->
    <link rel="apple-touch-icon" href="/img/logo/logo.png">
    <link rel="icon" href="/img/logo/logo.png">
    <title>
        AtentoRadio
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/player.css" rel="stylesheet">
    <link href="/css/like.css" rel="stylesheet">
    <link href="/css/fades.css" rel="stylesheet">

</head>
<body>
    <div class="container-full">
        <!-- <div class="row">
            <div class="col col-12">
                <hr class="fade-2">
            </div>
        </div> -->
        <div class="row">
            <div class="col col-12 col-sm-1 col-md-1 col-xl-3">
                <div class="logo">
                    <img  src="/img/logo/logo.png" alt="luppi"/>
                </div>
                <div class="content-social2">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-5 col-md-5 col-xl-3">
                <div class="row">
                    <div class="col col-12">
                        <hr class="fade-2">
                        <div class="mhn-player">
                            <div class="row">
                                <div class="col col-md-12 col-12" align="center">
                                    <div class="album-art"></div>
                                </div>
                            </div>
                            <div class="play-list">
                            <% radios.forEach(function(ra){ %>
                                <a href="#" class="play"
                                    data-id="1"
                                    data-album="<%= ra.subtitulo %>"
                                    data-artist="<%= ra.autor %>"
                                    data-title="<%= ra.titulo %>"
                                    data-albumart="<%= ra.capa %>"
                                    data-url="<%= ra.audio %>"></a>
                            <% }); %>
                            <% podcasts.forEach(function(pc){ %>
                                <a href="#" class="play"
                                            data-id="<%= pc._id %>"
                                            data-album="<%= pc.subtitulo %>"
                                            data-artist="<%= pc.autor %>"
                                            data-title="<%= pc.titulo %>"
                                            data-albumart="/podcasts/capa/<%= pc.capa %>"
                                            data-url="/podcasts/audio/<%= pc.audio %>"></a> 
                            <% }); %>
                            </div>
                            <div class="audio"></div>
                            <div class="controls">
                                <div class="progress">
                                    <div class="bar"></div>
                                </div>
                                <div class="duration clearfix">
                                    <!-- <span class="pull-left play-position"></span> -->
                                    <span class="pull-left">
                                        <span class="play-current-time">00:00</span>
                                    </span>
                                    <span class="pull-right">
                                        <span class="play-total-time">00:00</span>
                                    </span>
                                </div>
                                <div class="current-info">
                                    <div class="row">
                                        <div class="col col-md-12 col-12" align="center">
                                            <div id="txt-artist" class="song-artist"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-12 col-12" align="center">
                                            <div id="txt-album" class="song-album"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-12 col-12" align="center">
                                            <div id="txt-title" class="song-title"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col col-md-12 col-12" align="center">
                                            <div id="id-play" class="radio-on">
                                                <i class="material-icons">radio</i> ao vivo
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action-button">
                                    <div class="row">
                                        <div class="col col-md-4 col-4" align="center">
                                            <div id="action1">
                                                <a href="#" class="prev">
                                                    <i class="action-step-backward fas fa-step-backward fa-2x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col col-md-4 col-4" align="center">
                                            <div id="action2">
                                                <a href="#" class="play-pause"><i class="action-pp fas fa-pp fa-2x"></i></a>
                                            </div>
                                        </div>
                                        <div class="col col-md-4 col-4" align="center">
                                            <div id="action3">
                                                <a href="#" class="next"><i class="action-step-forward fas fa-step-forward fa-2x"></i></a>
                                            </div>
                                        </div>
                                        <!-- <a href="#" class="stop"><i class="fa fa-stop"></i></a> -->  
                                    </div>
                                </div>
                                <div class="content-volume">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col col-2">
                                                <i class="fas fa-volume-down"></i>
                                            </div>
                                            <div class="col col-8">
                                                <input type="range" class="volume" min="0" max="1" step="0.1" value="0.5" data-css="0.5">
                                            </div>
                                            <div class="col col-2">
                                                <i class="fas fa-volume-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="content-like">
                                                <div class="row">
                                                    <div class="col col-6">
                                                        <div data-toggle="tooltip" title="Gostei!">
                                                            <div id="like-audio" class="like-container">
                                                                <div class="like-cnt unchecked" id="like-cnt">
                                                                    <i id="ico-like-audio" class="like-btn fas fa-thumbs-up"></i> 
                                                                    <span id="qt-like-curtidas">0</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col col-6">
                                                        <div data-toggle="tooltip" title="Não gostei!">
                                                            <div id="deslike-audio" class="deslike-container">
                                                                <div class="deslike-cnt unchecked" id="deslike-cnt">
                                                                    <i id="ico-deslike-audio" class="deslike-btn fas fa-thumbs-down"></i>
                                                                    <span id="qt-deslike-curtidas">0</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <!-- <img src="" alt=""> -->
                        <hr class="fade-2">
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col col-12">
                        <div class="content-social" align="center">
                            <div class="action-button-default" align="center">
                                <div class="row">
                                    <div class="col col-3">
                                        <a href="#">
                                            <i class="fas fa-address-book fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="col col-3">
                                        <a href="#">
                                            <i class="fab fa-android fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="col col-3">
                                        <a href="#">
                                            <i class="fab fa-apple fa-2x"></i>
                                        </a>
                                    </div>
                                    <div class="col col-3">
                                        <a href="#">
                                            <i class="fab fa-facebook-square fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col col-12 col-sm-5 col-md-5 col-xl-3">
                <div class="row">
                    <div class="col col-md-12 col-12 ">
                        <hr class="fade-2">
                        <div class="content-play-list">
                            <div class="row">
                                <div class="col col-12">
                                    <div class="row">
                                        <div class="col col-md-12 col-12">
                                            <div class="title-default">
                                                Podcasts    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-12 col-12">
                                            <div class="my-play-list">
                                                <div class="play-list">
                                                    <% podcasts.forEach(function(pc){ %>
                                                        <div class="row">
                                                            <div class="col col-2">
                                                                <a href="/podcast/download/<%= pc.audio %>" style="width: 40px">
                                                                    <div class="dw-sound">
                                                                        <i class="fas fa-download"></i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col col-10">
                                                                <a href="#" class="play"
                                                                    data-id="<%= pc._id %>"
                                                                    data-album="<%= pc.subtitulo %>"
                                                                    data-artist="<%= pc.autor %>"
                                                                    data-title="<%= pc.titulo %>"
                                                                    data-albumart="/podcasts/capa/<%= pc.capa %>"
                                                                    data-url="/podcasts/audio/<%= pc.audio %>"></a> 
                                                            </div>
                                                        </div>
                                                    <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="fade-2">
                            <div class="row">
                                <div class="col col-12">
                                    <div class="row">
                                        <div class="col col-md-12 col-12">
                                            <div class="title-default">
                                                Comentar   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <input type="text" class="form-control" id="txtNome" placeholder="Nome" autocomplete="name">
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="e-mail" autocomplete="email">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <textarea class="form-control" id="txtComentario" rows="3" placeholder="Seu comentário" maxlength="150"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col" align="right">
                                            <button type="button" onclick="Curtida.sendComentario()" class="btn btn-primary luppi-bg-2">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <!-- <img src="" alt=""> -->
                        <hr class="fade-2">
                    </div>
                </div>
            </div>
            <div class="col col-12 col-sm-1 col-md-1 col-xl-3">
                <!-- <i class="fab fa-facebook-square fa-2x"></i> -->
                <!-- <div class="copyright"><span class="">© 2017 por LuppiaArts. Luppiarts Produções Artisticas</span></div> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col col-12 ">
                <hr class="fade-2">
            </div>
        </div> -->
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script src="/js/enscroll-0.6.2.min.js"></script>
    <script src="/js/player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
    <script src="/js/like.js"></script>
    <script src="/scripts/sweetalert2.all.js"></script>
    <script src="/js/main.js"></script>
    
<script>
    window.onload = function () {
        $('.action-button').css('display', 'none');
        initAirtimeInfo();

        $('.fa-facebook-square').on('click', function() {
            window.open("http://www.facebook.com", '_blank');
        });
        socket.emit('airtime-info', 'reset');
    };
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    function initAirtimeInfo() {
        // socket.emit('airtime-info', '');
        socket.on('airtime-info', function(msg){
            if (msg && $('.play-list a.active').data().id == 1){
                if(msg.curtidas != null && msg.curtidas != undefined){
                    Curtida.curtidas(msg.curtidas);
                }
                $('.action-button').css('display', 'none');
                var artista = msg.current.name;
                artista = artista.substring(artista.indexOf("-") + 2, artista.length);
                var musica = artista.substring(artista.indexOf("-") + 2, artista.length);
                artista = artista.substring(0, artista.indexOf("-") - 1);
                $('#txt-artist').html('<i class="fas fa-user"></i> ' + artista);
                $('#txt-album').html('<i class="fas fa-music"></i>');
                $('#txt-title').html('<i class="fas fa-headphones"></i> ' + musica);
            }
            document.getElementById("id-play").click();
        });
    }

</script>
</body>
</html>