<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon" href="./assets/img/kit/free/apple-icon.png"> -->
    <!-- <link rel="icon" href="./assets/img/kit/free/favicon.png"> -->
    <link rel="apple-touch-icon" href="/img/logo/luppi.png">
    <link rel="icon" href="/img/logo/luppi.png">
    <title>
        WebRadio
    </title>
    <!--     Fonts and icons     -->
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" /> -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <!-- <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"> -->
    <!-- <link href="./assets/css/fontawesome-all.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"> -->
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/player.css" rel="stylesheet">
    <link href="/css/like.css" rel="stylesheet">
    <link href="/css/fades.css" rel="stylesheet">

</head>
<body>
    <div class="row">
        <div class="col col-12">
            <!-- <hr class="fade-2"> -->
        </div>
    </div>
    <div class="row" > <!-- style="width: 100%;" -->
        <div class="col col-md-3 col-12">
            <div class="logo">
                <img  src="/img/logo/luppi.png" alt="luppi"/>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <div class="col col-12">
                    <hr class="fade-2">
                    <div class="mhn-player">
                        <div class="row">
                            <div class="col col-md-12 col-12" align="center">
                                <div class="album-art"></div>
                            </div>
                        </div>
                        <div class="play-list">
                            <a href="#" class="play"
                                data-id="1"
                                data-album="Atento"
                                data-artist="Luppi"
                                data-title="Luppi"
                                data-albumart="/img/logo/luppi.jpg"
                                data-url="http://177.54.158.150:8000/airtime_128"></a>
                            <% podcasts.forEach(function(pc){ %>
                                <a href="#" class="play"
                                            data-id="<%= pc._id %>"
                                            data-album="<%= pc.subtitulo %>"
                                            data-artist="<%= pc.autor %>"
                                            data-title="<%= pc.titulo %>"
                                            data-albumart="/podcasts/capa/<%= pc.capa %>"
                                            data-url="/podcasts/audio/<%= pc.audio %>"></a> 
                            <% }); %>
                            <!--
                            <a href="#" class="play"
                                data-id="2"
                                data-album=""
                                data-artist="Wiz Khalifa Ft Charlie Puth"
                                data-title="See You Again"
                                data-albumart="/img/music/t1.jpg"
                                data-url="http://hiphoptxl.com/wp-content/uploads/2015/03/10-Wiz-Khalifa-ft-Charlie-Puth-See-You-Again-DatPiff-Exclusive1.mp3" download></a>

                            <a href="#" class="play"
                                data-id="3"
                                data-album="Fifty Shades of Grey"
                                data-artist="Ellie Goulding"
                                data-title="Love Me Like You Do"
                                data-albumart="http://cdnrf.securenetsystems.net/file_radio/album_art/B/1/5/51B2BHP42pDL.jpg"
                                data-url="http://dl.best-music.biz/Music/Top%20Hits/Best%20Hits%20of%20Jan%202015/Best%20Hits%20of%20Jan%202015%20%5bInternational%20Hits%5d/11-%20Ellie%20Goulding%20-%20Love%20Me%20Like%20You%20Do.mp3"></a>

                            <a href="#" class="play"
                                data-id="4"
                                data-album="All I Ever Wanted"
                                data-artist="Kelly Clarkson"
                                data-title="Already Gone"
                                data-albumart="https://3.bp.blogspot.com/_mupIVJbjvuU/TKgPuOEekII/AAAAAAAAHd4/HGTyRWuhw2c/s1600/Made+by+In+For+The+Kill.png"
                                data-url="http://api.ning.com/files/26eL9oYmcbCURdC4HsmG0ZWw*YLSXgaDBvm5MIxi0gagrr1IPK7OQmHatTYLnx4qqc9BLhStzHfS2WhuNve*pjtmcCiBjZ4p/06AlreadyGone.mp3"></a>

                            <a href="#" class="play"
                                data-id="5"
                                data-album="Pure Bs"
                                data-artist="Blake Shelton"
                                data-title="Home"
                                data-albumart="http://img.cdn2.wmgecom.com/media/catalog/product/cache/684/image/600x/9df78eab33525d08d6e5fb8d27136e95/0/9/093624986256.jpg"
                                data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>

                            <a href="#" class="play"
                                data-id="6"
                                data-album="The Unforgiving"
                                data-artist="Within Tempation"
                                data-title="Faster"
                                data-albumart="http://www.aceshowbiz.com/images/news/00038227.jpg"
                                data-url="https://a.tumblr.com/tumblr_lli3gani2F1qetbfso1_r1.mp3"></a>

                            <a href="#" class="play"
                                data-id="7"
                                data-album="Californication"
                                data-artist="Red Hot Chili Peppers"
                                data-title="Californication"
                                data-albumart="https://eyespytz.files.wordpress.com/2011/11/6837-gif.jpeg"
                                data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>

                            <a href="#" class="play"
                                data-id="8"
                                data-album="V"
                                data-artist="Maroon 5"
                                data-title="Sugar"
                                data-albumart="http://media.fanfire.com/images/product/large/MAR/MAR61934.jpg"
                                data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>

                            <a href="#" class="play"
                                data-id="9"
                                data-album="Meteora"
                                data-artist="Linkin Park"
                                data-title="Numb"
                                data-albumart="https://upload.wikimedia.org/wikipedia/en/6/64/MeteoraLP.jpg"
                                data-url="http://serveurftpnascar.free.fr/%20-%20Linkin%20Park%20-%20Numb.mp3"></a> -->
                        </div>
                        <div class="audio"></div>
                        <div class="controls">
                            <!-- <a href="#" class="download-audio" download><i class="fas fa-download"></i></a> -->
                            <!-- <a href="#" class="toggle-play-list"><i class="fa fa-list-ul"></i></a> -->
                            
                            <div class="progress">
                                <div class="bar"></div>
                            </div>
                            <div class="duration clearfix">
                                <!-- <span class="pull-left play-position"></span> -->
                                <span class="pull-left">
                                    <span class="play-current-time">00:00</span>
                                </span>
                                <span class="pull-right">
                                    <span class="play-total-time">00:00</span>
                                </span>
                            </div>
                            <div class="current-info">
                                <div class="row">
                                    <div class="col col-md-12 col-12" align="center">
                                        <div id="txt-artist" class="song-artist"></div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col col-md-12 col-12" align="center">
                                        <div id="txt-album" class="song-album"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-md-12 col-12" align="center">
                                        <div id="txt-title" class="song-title"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="action-button">
                                <div class="row">
                                    <div class="col col-md-4 col-4" align="center">
                                        <div id="action1">
                                            <a href="#" class="prev">
                                                <i class="action-step-backward fas fa-step-backward fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col col-md-4 col-4" align="center">
                                        <div id="action2">
                                            <a href="#" class="play-pause"><i class="action-pp fas fa-pp fa-2x"></i></a>
                                        </div>
                                    </div>
                                    <div class="col col-md-4 col-4" align="center">
                                        <div id="action3">
                                            <a href="#" class="next"><i class="action-step-forward fas fa-step-forward fa-2x"></i></a>
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="stop"><i class="fa fa-stop"></i></a> -->  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-12 col-12" align="center">
                                    <input type="range" class="volume" min="0" max="1" step="0.1" value="0.5" data-css="0.5">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-12">
                                    <div class="content-like">
                                        <!-- <div class="action-button-default"> -->
                                            <div class="row">
                                                <div class="col col-6">
                                                    <div data-toggle="tooltip" title="Gostei!">
                                                        <div id="like-audio" class="like-container">
                                                            <div class="like-cnt unchecked" id="like-cnt">
                                                                <i id="ico-like-audio" class="like-btn fas fa-thumbs-up"></i> <span id="qt-like-curtidas">0</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <a href="#" data-toggle="tooltip" title="Gostei!">
                                                        <i class="fas fa-thumbs-up"></i>
                                                    </a> -->
                                                    
                                                </div>
                                                <div class="col col-6">
                                                    <div data-toggle="tooltip" title="Não gostei!">
                                                        <div id="deslike-audio" class="deslike-container">
                                                            <div class="deslike-cnt unchecked" id="deslike-cnt">
                                                                <i id="ico-deslike-audio" class="deslike-btn fas fa-thumbs-down"></i> <span id="qt-deslike-curtidas">0</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <img src="" alt="">
                    <hr class="fade-2">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col col-12">
                    <div class="content-social" align="center">
                        <div class="action-button-default" align="center">
                            <div class="row">
                                <div class="col col-3">
                                    <a href="#">
                                        <i class="fas fa-address-book fa-2x"></i>
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <a href="#">
                                        <i class="fab fa-android fa-2x"></i>
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <a href="#">
                                        <i class="fab fa-apple fa-2x"></i>
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <a href="#">
                                        <i class="fab fa-facebook-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <div class="col col-md-12 col-12 ">
                    <hr class="fade-2">
                    <div class="content-play-list">
                        <div class="row">
                            <div class="col col-12">
                                <div class="row">
                                    <div class="col col-md-12 col-12">
                                        <div class="title-default">
                                            Podcasts    
                                        </div>
                                    </div>
                                </div>
                                <!-- <hr class="fade-2"> -->
                                <div class="row">
                                    <div class="col col-md-12 col-12">
                                        <div class="my-play-list">
                                            <div class="play-list">
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="1"
                                                            data-album="Atento"
                                                            data-artist="Luppi"
                                                            data-title="Luppi"
                                                            data-albumart="/img/logo/luppi.jpg"
                                                            data-url="http://177.54.158.150:8000/airtime_128"></a>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(2)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                         <a href="#" class="play"
                                                            data-id="2"
                                                            data-album=""
                                                            data-artist="Wiz Khalifa Ft Charlie Puth"
                                                            data-title="See You Again"
                                                            data-albumart="/podcasts/capa/ac_wallpaper__arno_by_ninja_of_athens-d7lw1su.jpg"
                                                            data-url="/podcasts/audio/01 What Do You Mean_.mp3" download></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(3)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="3"
                                                            data-album="Fifty Shades of Grey"
                                                            data-artist="Ellie Goulding"
                                                            data-title="Love Me Like You Do"
                                                            data-albumart="http://cdnrf.securenetsystems.net/file_radio/album_art/B/1/5/51B2BHP42pDL.jpg"
                                                            data-url="http://dl.best-music.biz/Music/Top%20Hits/Best%20Hits%20of%20Jan%202015/Best%20Hits%20of%20Jan%202015%20%5bInternational%20Hits%5d/11-%20Ellie%20Goulding%20-%20Love%20Me%20Like%20You%20Do.mp3"></a>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(4)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="4"
                                                            data-album="All I Ever Wanted"
                                                            data-artist="Kelly Clarkson"
                                                            data-title="Already Gone"
                                                            data-albumart="https://3.bp.blogspot.com/_mupIVJbjvuU/TKgPuOEekII/AAAAAAAAHd4/HGTyRWuhw2c/s1600/Made+by+In+For+The+Kill.png"
                                                            data-url="http://api.ning.com/files/26eL9oYmcbCURdC4HsmG0ZWw*YLSXgaDBvm5MIxi0gagrr1IPK7OQmHatTYLnx4qqc9BLhStzHfS2WhuNve*pjtmcCiBjZ4p/06AlreadyGone.mp3"></a>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(5)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="5"
                                                            data-album="Pure Bs"
                                                            data-artist="Blake Shelton"
                                                            data-title="Home"
                                                            data-albumart="http://img.cdn2.wmgecom.com/media/catalog/product/cache/684/image/600x/9df78eab33525d08d6e5fb8d27136e95/0/9/093624986256.jpg"
                                                            data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(6)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="6"
                                                            data-album="The Unforgiving"
                                                            data-artist="Within Tempation"
                                                            data-title="Faster"
                                                            data-albumart="http://www.aceshowbiz.com/images/news/00038227.jpg"
                                                            data-url="https://a.tumblr.com/tumblr_lli3gani2F1qetbfso1_r1.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(7)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="7"
                                                            data-album="Californication"
                                                            data-artist="Red Hot Chili Peppers"
                                                            data-title="Californication"
                                                            data-albumart="https://eyespytz.files.wordpress.com/2011/11/6837-gif.jpeg"
                                                            data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(8)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="8"
                                                            data-album="V"
                                                            data-artist="Maroon 5"
                                                            data-title="Sugar"
                                                            data-albumart="http://media.fanfire.com/images/product/large/MAR/MAR61934.jpg"
                                                            data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(9)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="9"
                                                            data-album="Meteora"
                                                            data-artist="Linkin Park"
                                                            data-title="Numb"
                                                            data-albumart="https://upload.wikimedia.org/wikipedia/en/6/64/MeteoraLP.jpg"
                                                            data-url="http://serveurftpnascar.free.fr/%20-%20Linkin%20Park%20-%20Numb.mp3"></a> 
                                                    </div>
                                                </div> -->
                                                <% podcasts.forEach(function(pc){ %>
                                                    <div class="row">
                                                        <div class="col col-2">
                                                            <a href="/podcast/download/<%= pc.audio %>" style="width: 40px">
                                                                <div class="dw-sound">
                                                                    <i class="fas fa-download"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col col-10">
                                                            <a href="#" class="play"
                                                                data-id="<%= pc._id %>"
                                                                data-album="<%= pc.subtitulo %>"
                                                                data-artist="<%= pc.autor %>"
                                                                data-title="<%= pc.titulo %>"
                                                                data-albumart="/podcasts/capa/<%= pc.capa %>"
                                                                data-url="/podcasts/audio/<%= pc.audio %>"></a> 
                                                        </div>
                                                    </div>
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="comente">
                        <div class="comente-corpo">
                            <h1>Comente</h1>
                            <form>
                                <hr>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtNome" placeholder="Nome">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="e-mail">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="txaComentario" rows="8" placeholder="seu comentário"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary luppi-bg-2">Enviar</button>
                            </form>
                        </div>
                    </div> -->
                        <hr class="fade-2">
                        <div class="row">
                            <div class="col col-12">
                                <!-- <div class="content-coment"> -->
                                    <div class="row">
                                        <div class="col col-md-12 col-12">
                                            <div class="title-default">
                                                Comentar   
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <hr class="fade-2"> -->
                                    <!-- <form> -->
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <input type="text" class="form-control" id="txtNome" placeholder="Nome" autocomplete="name">
                                            </div>
                                            <div class="form-group col-6">
                                                <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="e-mail" autocomplete="email">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <textarea class="form-control" id="txtComentario" rows="3" placeholder="Seu comentário"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col" align="right">
                                                <button type="button" onclick="sendComentario()" class="btn btn-primary luppi-bg-2">Enviar</button>
                                            </div>
                                        </div>
                                    <!-- </form> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col col-md-12 col-12">
                    <img src="" alt="">
                    <hr class="fade-2">
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 col-12">
                    <div class="row">
                        <div class="col col-md-12 col-12 ">
                            <div class="content-coment">
                                <div class="row">
                                    <div class="col col-md-12 col-12">
                                        <div class="title-default">
                                            Comentar   
                                        </div>
                                    </div>
                                </div>
                                <hr class="fade-2">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="txtNome" placeholder="Nome">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="e-mail">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <textarea class="form-control" id="txaComentario" rows="3" placeholder="Seu comentário"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" align="right">
                                            <button type="submit" class="btn btn-primary luppi-bg-2">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col col-12">
                    <img src="" alt="">
                    <hr class="fade-2">
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
        </div>
        <!--<div class="col col-md-4 col-12">
            <div class="comentarios">
                <div class="chats">
                    <div class="chat chat-left">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-1">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste1</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-right">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-2">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste2</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-left">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-3">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste3</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-right">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-4">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste4</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-left">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-5">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste5</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-right">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-6">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste6</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-left">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-7">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste7</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-right">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-8">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste8</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-left">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-9">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste9</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-right">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-10">
                                <time class="chat-time">25/03/2018 14:33</time>
                                <autor>Teste10</autor>
                                <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chats">
                    <div class="chat chat-left">
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-3">
                                <time class="chat-time">01/03/2018 14:33</time>
                                <autor>Teste3</autor>
                                <p>Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica, descobriu a sua indubitável origem. Lorem Ipsum vem das seções 1.10.32 e 1.10.33 do "de Finibus Bonorum et Malorum" (Os Extremos do Bem e do Mal), de Cícero, escrito em 45 AC. Este livro é um tratado de teoria da ética muito popular na época da Renascença. A primeira linha de Lorem Ipsum, "Lorem Ipsum dolor sit amet..." vem de uma linha na seção 1.10.32.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="chats">
                    <div class="chat chat-right"> 
                        <div class="chat-body">
                            <div class="chat-content luppi-bg-2">
                                <time class="chat-time">25/03/2018 14:30</time>
                                <autor>Teste2</autor>
                                <p>Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter certeza de que não há algo embaraçoso escrito escondido no meio do texto. Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços predefinidos conforme necessário, fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet. Ele usa um dicionário com mais de 200 palavras em Latim combinado com um punhado de modelos de estrutura de frases para gerar um Lorem Ipsum com aparência razoável, livre de repetições, inserções de humor, palavras não características, etc.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col col-12 ">
            <!-- <hr class="fade-2"> -->
            <button onclick="getCurtidas('teste')"> </button>
        </div>
    </div>
<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
<strong>PODCAST'S:</strong> ouças os podcasts clicando no botão de lista! do player.
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
<a href="http://serveurftpnascar.free.fr/%20-%20Linkin%20Park%20-%20Numb.mp3" download >Download</a>
</div> -->

    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- <script src="/js/core/bootstrap.min.js" type="text/javascript"></script> -->
    <script src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script src="/js/enscroll-0.6.2.min.js"></script>
    <!-- <script src="/js/core/perfect-scrollbar.jquery.min.js" type="text/javascript"></script> -->
    <script src="/js/player.js"></script>
    
    <!-- <script src="http://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
    <script src="/js/like.js"></script>
    <script src="/scripts/sweetalert2.all.js"></script>

    
<script>

    window.onload = function () {
        initAirtimeInfo();
        // console.log('txtEmail:',$('#txtEmail').val());
        // var url_tmp = '/curtidas/';
        // var audio_tmp = '06-Cidade Negra-Me Liga (Hebert Vianna).mp3';

        // const request = $.ajax({
        //     url: url_tmp + audio_tmp,
        //     type: 'GET'
        // });

        // request.done(function (msg) {
        //     console.log('curtidas done');
        //     console.log(msg);
        // });

        // request.fail(function (jqXHR, textStatus) {
        //     console.log('erro');
        //     console.log(jqXHR);
        //     console.log(textStatus);
        //     //swal("Erro!", textoErro1.textStatus, "error");
        // });
        
    };

    
    const curtidas = {};
    // var ipAddress = {};
    // function getIpAddress(){
        

    //     const request = $.ajax({
    //         url: 'https://api.ipify.org?format=json',
    //         type: 'GET'
    //     });

    //     request.done(function (msg) {
    //         console.log('getIpAddress() done');
    //         console.log(msg);
    //         ipAddress = msg;
    //     });

    //     request.fail(function (jqXHR, textStatus) {
    //         console.log('erro');
    //         console.log(jqXHR);
    //         console.log(textStatus);
    //         //swal("Erro!", textoErro1.textStatus, "error");
    //     });

    //     return ipAddress;
    // }

    // function getCurtidas(audio){
    //     console.log('request audio:', audio);

    //     const request = $.ajax({
    //         url: '/curtidas/' + audio,
    //         type: 'GET'
    //     });
        

    //     request.done(function (msg) {
    //         console.log('getCuritdas() done');
    //         console.log(msg);
    //     });

    //     request.fail(function (jqXHR, textStatus) {
    //         console.log('erro');
    //         console.log(jqXHR);
    //         console.log(textStatus);
    //         //swal("Erro!", textoErro1.textStatus, "error");
    //     });
    // }

    function setPlusQtLike(){
        var qt_like = parseInt($('#qt-like-curtidas').text());
        qt_like += 1;
        $('span[id^="qt-like-curtidas"]').remove();
        $('#like-cnt').append('<span id="qt-like-curtidas">' + qt_like + '</span>');
    }

    function setMinusQtLike(){
        var qt_like = parseInt($('#qt-like-curtidas').text());
        qt_like -= 1;
        $('span[id^="qt-like-curtidas"]').remove();
        $('#like-cnt').append('<span id="qt-like-curtidas">' + qt_like + '</span>'); 
    }

    function setPlusQtDeslike(){
        var qt_deslike = parseInt($('#qt-deslike-curtidas').text());
        qt_deslike += 1;
        $('span[id^="qt-deslike-curtidas"]').remove();
        $('#deslike-cnt').append('<span id="qt-deslike-curtidas">' + qt_deslike + '</span>');    
    }

    function setMinusQtDeslike(){
        var qt_deslike = parseInt($('#qt-deslike-curtidas').text());
        qt_deslike -= 1;
        $('span[id^="qt-deslike-curtidas"]').remove();
        $('#deslike-cnt').append('<span id="qt-deslike-curtidas">' + qt_deslike + '</span>');   
    }

    

    function sendLike(isLike){

        // console.log(Audio);

        let idAudio = Audio.info.load.id;
        let audio = '';

        if (idAudio != 1) {
            audio = Audio.info.load.mp3;
            audio = audio.substring(audio.lastIndexOf('/') + 1, audio.length);
        } else {
            idAudio = '';
        }

        getIPs(function(ip){

            const data = {
                audio: audio,
                id_podcast: idAudio,
                curtiu: isLike,
                ip: ip
            }

            const request = $.ajax({
                url: '/curtidas',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json"
            });
            

            request.done(function (msg) {
                console.log('sendLike() done');
                console.log(msg);
                var json = JSON.parse(msg);

                console.log('json.message:', json.message);
                console.log('indexof.inserido:', json.message.indexOf('inserido'));
                console.log('indexof.atualizado:', json.message.indexOf('atualizado'));

                if(json.message.indexOf('inserido') >= 0 ){

                    if (isLike){
                        setPlusQtLike();
                        $('#ico-deslike-audio').removeAttr("style");
                    } else {
                        setPlusQtDeslike();
                        $('#ico-like-audio').removeAttr("style");
                    }


                } else if(json.message.indexOf('atualizado') >= 0){
                    if (isLike){
                        setPlusQtLike();
                        setMinusQtDeslike();
                        $('#ico-deslike-audio').removeAttr("style");
                    } else {
                        setPlusQtDeslike();
                        setMinusQtLike();
                        $('#ico-like-audio').removeAttr("style");
                    }
                }
            });

            request.fail(function (jqXHR, textStatus) {
                console.log('erro');
                console.log(jqXHR);
                console.log(textStatus);
                //swal("Erro!", textoErro1.textStatus, "error");
            });
        });
    }

    $('#like-audio').on('click', function() {
        sendLike(true);
    });

    $('#deslike-audio').on('click', function() {
        sendLike(false);
    });

    function sendComentario(){

        const email = $('#txtEmail').val();
        const nome = $('#txtNome').val();
        const comentario = $('#txtComentario').val();

        data = {
            email: email,
            nome: nome,
            comentario: comentario
        }

        if (email === ""){
            swal('Informe seu E-mail');
            return;
        }

        if (nome === ""){
            swal('Informe seu nome');
            return;
        }

        if (comentario === ""){
            console.log("vazio comentario:" + comentario);
            swal('Informe o comentario');
            return;
        }

        const request = $.ajax({
            url: '/comentario',
            type: 'POST',
            // method: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json"
            // cache: false,
            // // dataType: 'json', // This replaces dataFilter: function() && JSON.parse( data ).
            // processData: false, // Don't process the files
            // contentType: false
        });
        

        request.done(function (msg) {
            console.log('done');
            console.log(msg);
            swal(
                'Comentário enviado!',
                '',
                'success'
            )
            $('#txtEmail').val('');
            $('#txtNome').val('');
            $('#txtComentario').val('');
        });

        request.fail(function (jqXHR, textStatus) {
            swal(
                'Comentário não enviado',
                jqXHR + ' - ' + textStatus,
                'error'
            )
            console.log('erro');
            console.log(jqXHR);
            console.log(textStatus);
            //swal("Erro!", textoErro1.textStatus, "error");
        });
    }

    function getIPs(callback){
        var ip_dups = {};

        //compatibility for firefox and chrome
        var RTCPeerConnection = window.RTCPeerConnection
            || window.mozRTCPeerConnection
            || window.webkitRTCPeerConnection;
        var useWebKit = !!window.webkitRTCPeerConnection;

        //bypass naive webrtc blocking using an iframe
        if(!RTCPeerConnection){
            //NOTE: you need to have an iframe in the page right above the script tag
            //
            //<iframe id="iframe" sandbox="allow-same-origin" style="display: none"></iframe>
            //<script>...getIPs called in here...
            //
            var win = iframe.contentWindow;
            RTCPeerConnection = win.RTCPeerConnection
                || win.mozRTCPeerConnection
                || win.webkitRTCPeerConnection;
            useWebKit = !!win.webkitRTCPeerConnection;
        }

        //minimal requirements for data connection
        var mediaConstraints = {
            optional: [{RtpDataChannels: true}]
        };

        var servers = {iceServers: [{urls: "stun:stun.services.mozilla.com"}]};

        //construct a new RTCPeerConnection
        var pc = new RTCPeerConnection(servers, mediaConstraints);

        function handleCandidate(candidate){
            //match just the IP address
            var ip_regex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/
            var ip_addr = ip_regex.exec(candidate)[1];

            //remove duplicates
            if(ip_dups[ip_addr] === undefined)
                callback(ip_addr);

            ip_dups[ip_addr] = true;
        }

        //listen for candidate events
        pc.onicecandidate = function(ice){

            //skip non-candidate events
            if(ice.candidate)
                handleCandidate(ice.candidate.candidate);
        };

        //create a bogus data channel
        pc.createDataChannel("");

        //create an offer sdp
        pc.createOffer(function(result){

            //trigger the stun server request
            pc.setLocalDescription(result, function(){}, function(){});

        }, function(){});

        //wait for a while to let everything done
        setTimeout(function(){
            //read candidate info from local description
            var lines = pc.localDescription.sdp.split('\n');

            lines.forEach(function(line){
                if(line.indexOf('a=candidate:') === 0)
                    handleCandidate(line);
            });
        }, 1000);
    }

</script>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    function initAirtimeInfo() {
        // socket.emit('airtime-info', ''); //envia mensagem ao servidor
        socket.on('airtime-info', function(msg){
            console.log(msg);
            var artista = msg.current.name;
            artista = artista.substring(artista.indexOf("-") + 2, artista.length);
            var musica = artista.substring(artista.indexOf("-") + 2, artista.length);
            artista = artista.substring(0, artista.indexOf("-") - 1);
            $('#txt-artist').html('<i class="fas fa-user"></i>' + artista);
            // $('#txt-artist').text(artista);
            $('#txt-album').html('<i class="fas fa-music"></i>');
            // $('#txt-album').text('');
            $('#txt-title').html('<i class="fas fa-headphones"></i>' + musica);
            // $('#txt-title').text(musica);
        });
    }   
    
</script>
</body>
</html>