<!doctype html>
<html lang="pt-br">
<head>
    <% var title = 'Dashboard'; var path = '' %>
    <% include partials/head %>
</head>

<body>
	<%/*
	<div class="loader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
		</svg>
	</div>
	<!-- <pre>
	< %= comentarios_hoje.length % >

	< %= notification % >
	< % if (notification) { % >
		<teste>< %= notification % ></teste>
	< %}% >
	</pre> -->
	*/%>
    <div class="wrapper">
    	<% include sidebar/sidebar %>
    	<div class="main-panel myScroll">
    		<% include navbar/navbar %>
			<div class="main-content">
			    <div class="container-fluid">
			        <div class="row">
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <div class="card-header" data-background-color="red">
			                        <i class="material-icons">question_answer</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Comentários hoje</p>
			                        <h3 id="id-qt-comentario" class="card-title"><%= comentarios_hoje.length %></h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <!-- <i class="material-icons text-danger">warning</i> -->
			                            <i class="material-icons">description</i>
			                            <a href="/comentario/consulta">ver comentários</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <div class="card-header" data-background-color="red">
			                        <i class="material-icons">audiotrack</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Ouvintes</p>
			                        <h3 id="id-qt-listeners" class="card-title">0</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div id="id-qt-listeners-peak" class="stats">
			                            <i class="material-icons">queue_music</i>
			                            Pico ouvintes 0
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                	<%/*
			                    <div class="card-header" data-background-color="green">
			                        <i class="material-icons">audiotrack</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Revenue</p>
			                        <h3 class="card-title">$3,245</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">date_range</i> Last 24 Hours
			                        </div>
			                    </div>
			                    */%>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                	<%/*
			                    <div class="card-header" data-background-color="blue">
			                        <i class="fa fa-twitter"></i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Followers</p>
			                        <h3 class="card-title">+245</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">update</i> Just Updated
			                        </div>
			                    </div>
			                    */%>
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="blue">
			                        <i class="material-icons">timeline</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Contagem de ouvintes por mês
			                            <small>GERAL</small>
			                        </h4>
			                        <div class="row">
			                        	<div class="col col-12 col-md-5">
					                        <div class="form-group">
					                            <label class="label-control">Ano</label>
					                            <select id="id-mes-airtime" class="selectpicker" data-style="select-with-transition" title="Selecione o ano" data-size="5">
				                    				<option disabled>Selecione o ano</option>
													<% for(var i = 0; i < airtimeMonthCharts.anos.length; i++){ %>
														<option value="<%= airtimeMonthCharts.anos[i] %>"><%= airtimeMonthCharts.anos[i] %></option>
													<%}%>
	                                        	</select>
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-5">
				                    		<div class="form-group">
				                    			<label class="label-control">Tipo</label>
												<select id="id-tipo-airtime-month" class="selectpicker" data-style="select-with-transition" title="Selecione o tipo" data-size="5">
				                    				<option disabled>Selecione o tipo</option>
				                    				<option value="0">Linha</option>
				                    				<option value="1" selected>Barra</option>
	                                        	</select>
				                    		</div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
				                    			<button onclick="initChartsAirtimesByMonth()" type="button" class="btn btn-info btn-simple" rel="tooltip" title="Refresh">
					                                <i class="material-icons">refresh</i>
					                            </button>
				                    		</div>
				                    	</div>
			                        </div>
			                    </div>
			                    <div id="airtimeMonthCharts" class="ct-chart"></div>
			                    <div class="card-footer">
			                    	<div class="row">
			                    		<div class="col">
			                    			<label class="text-right" for=""> Total: </label>
			                    		</div>
			                    	</div>
			                    </div>
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="blue">
			                        <i class="material-icons">timeline</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Contagem de ouvintes por período
			                            <small>GERAL</small>
			                        </h4>
			                        <div class="row">
			                        	<div class="col col-12 col-md-4">
					                        <div class="form-group">
					                            <label class="label-control">Data inicial</label>
					                            <input id="id-dt-inicial" type="text" class="form-control datepicker" value="<%= airtimeCharts.dia1 %>" />
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-4">
				                    		<div class="form-group">
					                            <label class="label-control">Data final</label>
					                            <input id="id-dt-final" type="text" class="form-control datepicker" value="<%= airtimeCharts.hoje %>" />
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
				                    			<label class="label-control">Tipo</label>
												<select id="id-tipo-airtime" class="selectpicker" data-style="select-with-transition" title="Selecione o tipo" data-size="5">
				                    				<option disabled>Selecione o tipo</option>
				                    				<option value="0" selected>Linha</option>
				                    				<option value="1">Barra</option>
	                                        	</select>
				                    		</div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
				                    			<button onclick="initChartsAirtimesByPeriodo()" type="button" class="btn btn-info btn-simple" rel="tooltip" title="Refresh">
					                                <i class="material-icons">refresh</i>
					                            </button>
				                    		</div>
				                    	</div>
			                        </div>
			                    </div>
			                    <div id="airtimeCharts" class="ct-chart"></div>
			                </div>
			            </div>
			            <%/*
			            <!-- <div class="col-md-6">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="rose">
			                        <i class="material-icons">insert_chart</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Quantidade mensal
			                            <small>- Ouvintes</small>
			                        </h4>
			                    </div>
			                    <div id="multipleBarsChart" class="ct-chart"></div>
			                </div>
			            </div> -->
			            */%>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="blue">
			                        <i class="material-icons">timeline</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Contagem de ouvintes por período
			                            <small>LOCAL</small>
			                        </h4>
			                        <div class="row">
			                        	<div class="col col-12 col-md-3">
					                        <div class="form-group">
					                            <label class="label-control">Data inicial</label>
					                            <input id="id-dt-o-inicial" type="text" class="form-control datepicker" value="<%= airtimeCharts.dia1 %>" />
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-3">
				                    		<div class="form-group">
					                            <label class="label-control">Data final</label>
					                            <input id="id-dt-o-final" type="text" class="form-control datepicker" value="<%= airtimeCharts.hoje %>" />
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
					                            <label class="label-control">Endereço</label>
				                    			<select id="id-ips" class="selectpicker" data-style="select-with-transition" multiple title="Selecione o endereço" data-size="5">
				                    				<option disabled>Selecione o endereço</option>
				                    			<% for (var i = 0; i < ouvinteCharts.ips.length; i++) {%>
	                                            	<option value="<%= ouvinteCharts.ips[i].ip %>" selected><%= ouvinteCharts.ips[i].ip %></option>	
	                                            <%}%>
	                                        	</select>
	                                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
				                    			<label class="label-control">Tipo</label>
												<select id="id-tipo" class="selectpicker" data-style="select-with-transition" title="Selecione o tipo" data-size="5">
				                    				<option disabled>Selecione o tipo</option>
				                    				<option value="0">Linha</option>
				                    				<option value="1" selected>Barra</option>
	                                        	</select>
				                    		</div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
				                    			<button onclick="initChartsOuvintesByPeriodo()" type="button" class="btn btn-info btn-simple" rel="tooltip" title="Refresh">
					                                <i class="material-icons">refresh</i>
					                            </button>
				                    		</div>
				                    	</div>
			                        </div>
			                    </div>
			                    <div id="ouvinteCharts" class="ct-chart"></div>
			                    <div class="card-footer">
			                    	<div class="row">
			                    		<div class="col">
			                    			<div class="ct-circle ct-cor-1">
			                    			</div>
			                    			<label for=""> legenda1 </label>
			                    		</div>
			                    		<div class="col">
			                    			<div class="ct-circle ct-cor-2">
			                    			</div>
			                    			<label for=""> - legenda2 - </label>	
			                    		</div>
			                    		<div class="col">
			                    			<div class="ct-circle ct-cor-3">
			                    			</div>
			                    			<label for=""> legenda3 - </label>	
			                    		</div>
			                    	</div>
			                    </div>
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="blue">
			                        <i class="material-icons">insert_chart</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Ranking
			                            <small>- top 10 musicas + curtidas</small>
			                        </h4>
			                    </div>
			                    <div id="curtidasCharts" class="ct-chart"></div>
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="red">
			                        <i class="material-icons">insert_chart</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Ranking
			                            <small>- top 10 musicas - curtidas</small>
			                        </h4>
			                    </div>
			                    <div id="deslikeCharts" class="ct-chart"></div>
			                </div>
			            </div>
			        </div>
			</div>
		</div>
	</div>


	<% include partials/script %>
	<script src="/js/plugins/jquery.select-bootstrap.js"></script>
	<script src="/js/plugins/moment-with-locales.min.js"></script>
	<!-- DateTimePicker Plugin -->
	<script src="/js/plugins/bootstrap-datetimepicker.js"></script>
	<!--  Charts Plugin -->
	<script src="/js/plugins/chartist.min.js"></script>
	<script src="/js/init/initDatetimepickers.js"></script>
	<script src="/js/init/initDashboard.js"></script>
	

	<script>
		// var ps = new PerfectScrollbar('#myscroll');
		// $('.sidebar-wrapper').perfectScrollbar();
		// $('.content-panel').perfectScrollbar();

		$('.myScroll').each(function(){
		    $(this).perfectScrollbar();
		});

		$( document ).ready(function() {
			ouvinteCharts = JSON.parse('<%- JSON.stringify(ouvinteCharts) %>');
			airtimeMonthCharts = JSON.parse('<%- JSON.stringify(airtimeMonthCharts) %>');
			initChartsAirtimesMonth(airtimeMonthCharts, '0');
			initChartsCurtidas(JSON.parse('<%- JSON.stringify(curtidaCharts) %>'));
			initChartsAirtimes(JSON.parse('<%- JSON.stringify(airtimeCharts) %>'), '0');
			initChartsDeslike(JSON.parse('<%- JSON.stringify(deslikeCharts) %>'));
			initChartsOuvintes(ouvinteCharts, '1');
			initDatetimepickers();
			initAirtimeStats();

			let dtInicial = new Date();
			let dtFinal = new Date();
			let tmpI = $('#id-dt-o-inicial').val();
			let tmpF = $('#id-dt-o-final').val();

			let dia = tmpI.substring(0, 2);
			let mes = tmpI.substring(3, 5);
			let ano = tmpI.substring(6, 10);
			dtInicial.setDate(dia);
			dtInicial.setMonth(parseInt(mes) - 1);
			dtInicial.setFullYear(ano);

			dia = tmpF.substring(0, 2);
			mes = tmpF.substring(3, 5);
			ano = tmpF.substring(6, 10);
			dtFinal.setDate(dia);
			dtFinal.setMonth(parseInt(mes) - 1);
			dtFinal.setFullYear(ano);

			dtIniOuvi = dtInicial;
			dtFinOuvi = dtFinal;
		});
		
		
	</script>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	    const socket = io();

	    function initAirtimeStats() {
	        socket.on('airtime-stats', function(msg){
	            $('#id-qt-listeners').html(msg.listeners);
	            $('#id-qt-listeners-peak').html('<i class="material-icons">queue_music</i> Pico ouvintes ' + msg.listener_peak);
	        });

	        socket.on('comentario-io', function(msg){
	            if(msg._id) $('#id-qt-comentario').html(parseInt($('#id-qt-comentario').text()) + 1);
	        });
	    }

	</script>
</body>


</html>
