<!doctype html>
<html lang="pt-br">
<head>
    <% var title = 'Dashboard'; var path = '' %>
    <% include partials/head %>
</head>

<body>
	<!-- <div class="loader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
		</svg>
	</div> -->
	<pre>
	<%= comentarios_hoje.length %>
	<%= charts.charts %>

	<%= notification %>
	<% if (notification) { %>
		<teste><%= notification %></teste>
	<%}%>
	</pre> 
    <div class="wrapper">
    	<% include sidebar/sidebar %>
    	<div class="main-panel myScroll">
    		<% include navbar/navbar %>
			<div class="main-content">
			    <div class="container-fluid">
			        <div class="row">
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <div class="card-header" data-background-color="red">
			                        <i class="material-icons">question_answer</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Comentários hoje</p>
			                        <h3 class="card-title"><%= comentarios_hoje.length %></h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <!-- <i class="material-icons text-danger">warning</i> -->
			                            <i class="material-icons">description</i>
			                            <a href="/comentario/consulta">ver comentários</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <div class="card-header" data-background-color="red">
			                        <i class="material-icons">audiotrack</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Ouvintes</p>
			                        <h3 class="card-title">0</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">queue_music</i>
			                            Pico ouvintes 0
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <!-- <div class="card-header" data-background-color="green">
			                        <i class="material-icons">audiotrack</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Revenue</p>
			                        <h3 class="card-title">$3,245</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">date_range</i> Last 24 Hours
			                        </div>
			                    </div> -->
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <!-- <div class="card-header" data-background-color="blue">
			                        <i class="fa fa-twitter"></i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Followers</p>
			                        <h3 class="card-title">+245</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">update</i> Just Updated
			                        </div>
			                    </div> -->
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-4">
			                <div class="card card-chart">
			                    <div class="card-header" data-background-color="green" data-header-animation="true">
			                        <div class="ct-chart" id="dailySalesChart"></div>
			                    </div>
			                    <div class="card-content">
			                        <div class="card-actions">
			                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
			                                <i class="material-icons">build</i> Fix Header!
			                            </button>
			                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
			                                <i class="material-icons">refresh</i>
			                            </button>
			                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
			                                <i class="material-icons">edit</i>
			                            </button>
			                        </div>
			                        <h4 class="card-title">Daily Sales</h4>
			                        <p class="category">
			                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">access_time</i> updated 4 minutes ago
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="card card-chart">
			                    <div class="card-header" data-background-color="orange" data-header-animation="true">
			                        <div class="ct-chart" id="completedTasksChart"></div>
			                    </div>
			                    <div class="card-content">
			                        <div class="card-actions">
			                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
			                                <i class="material-icons">build</i> Fix Header!
			                            </button>
			                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
			                                <i class="material-icons">refresh</i>
			                            </button>
			                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
			                                <i class="material-icons">edit</i>
			                            </button>
			                        </div>
			                        <h4 class="card-title">Completed Tasks</h4>
			                        <p class="category">Last Campaign Performance</p>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">access_time</i> campaign sent 2 days ago
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="card card-chart">
			                    <div class="card-header" data-background-color="red" data-header-animation="true">
			                        <div class="ct-chart" id="websiteViewsChart"></div>
			                    </div>
			                    <div class="card-content">
			                        <div class="card-actions">
			                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
			                                <i class="material-icons">build</i> Fix Header!
			                            </button>
			                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
			                                <i class="material-icons">refresh</i>
			                            </button>
			                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
			                                <i class="material-icons">edit</i>
			                            </button>
			                        </div>
			                        <h4 class="card-title">Website Views</h4>
			                        <p class="category">Last Campaign Performance</p>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">access_time</i> campaign sent 2 days ago
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>


	<% include partials/script %>
	<script>
		<%- charts %>
	</script>
	<script>
		// var ps = new PerfectScrollbar('#myscroll');
		// $('.sidebar-wrapper').perfectScrollbar();
		// $('.content-panel').perfectScrollbar();

		$('.myScroll').each(function(){
		    $(this).perfectScrollbar();
		});

		$( document ).ready(function() {
			initCharts();
		});


		

		
		
		// var ps2 = new PerfectScrollbar('.main-content');
	</script>

	<!-- <script src="/js/sidebar-moving-tab.js"></script> -->
</body>


</html>
