<!doctype html>
<html lang="pt-br">
<head>
    <% var title = 'Dashboard'; var path = '' %>
    <% include partials/head %>
</head>

<body>
	<!-- <div class="loader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
		</svg>
	</div> -->
	<!-- <pre>
	<%= comentarios_hoje.length %>

	<%= notification %>
	<% if (notification) { %>
		<teste><%= notification %></teste>
	<%}%>
	</pre>  -->
    <div class="wrapper">
    	<% include sidebar/sidebar %>
    	<div class="main-panel myScroll">
    		<% include navbar/navbar %>
			<div class="main-content">
			    <div class="container-fluid">
			        <div class="row">
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <div class="card-header" data-background-color="red">
			                        <i class="material-icons">question_answer</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Comentários hoje</p>
			                        <h3 id="id-qt-comentario" class="card-title"><%= comentarios_hoje.length %></h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <!-- <i class="material-icons text-danger">warning</i> -->
			                            <i class="material-icons">description</i>
			                            <a href="/comentario/consulta">ver comentários</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <div class="card-header" data-background-color="red">
			                        <i class="material-icons">audiotrack</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Ouvintes</p>
			                        <h3 id="id-qt-listeners" class="card-title">0</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div id="id-qt-listeners-peak" class="stats">
			                            <i class="material-icons">queue_music</i>
			                            Pico ouvintes 0
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <!-- <div class="card-header" data-background-color="green">
			                        <i class="material-icons">audiotrack</i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Revenue</p>
			                        <h3 class="card-title">$3,245</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">date_range</i> Last 24 Hours
			                        </div>
			                    </div> -->
			                </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
			                <div class="card card-stats">
			                    <!-- <div class="card-header" data-background-color="blue">
			                        <i class="fa fa-twitter"></i>
			                    </div>
			                    <div class="card-content">
			                        <p class="category">Followers</p>
			                        <h3 class="card-title">+245</h3>
			                    </div>
			                    <div class="card-footer">
			                        <div class="stats">
			                            <i class="material-icons">update</i> Just Updated
			                        </div>
			                    </div> -->
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="blue">
			                        <i class="material-icons">timeline</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Contagem de ouvintes por período
			                            <small></small>
			                        </h4>
			                        <div class="row">
			                        	<div class="col col-12 col-md-5">
					                        <div class="form-group">
					                            <label class="label-control">Data inicial</label>
					                            <input id="id-dt-inicial" type="text" class="form-control datepicker" value="<%= airtimeCharts.dia1 %>" />
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-5">
				                    		<div class="form-group">
					                            <label class="label-control">Data final</label>
					                            <input id="id-dt-final" type="text" class="form-control datepicker" value="<%= airtimeCharts.hoje %>" />
					                        </div>
				                    	</div>
				                    	<div class="col col-12 col-md-2">
				                    		<div class="form-group">
				                    			<button onclick="initChartsAirtimesByPeriodo()" type="button" class="btn btn-info btn-simple" rel="tooltip" title="Refresh">
					                                <i class="material-icons">refresh</i>
					                            </button>
				                    		</div>
				                    	</div>
			                        </div>
			                    </div>
			                    <div id="airtimeCharts" class="ct-chart"></div>
			                </div>
			            </div>
			            <!-- <div class="col-md-6">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="rose">
			                        <i class="material-icons">insert_chart</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Quantidade mensal
			                            <small>- Ouvintes</small>
			                        </h4>
			                    </div>
			                    <div id="multipleBarsChart" class="ct-chart"></div>
			                </div>
			            </div> -->
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="blue">
			                        <i class="material-icons">insert_chart</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Ranking
			                            <small>- top 10 musicas + curtidas</small>
			                        </h4>
			                    </div>
			                    <div id="curtidasCharts" class="ct-chart"></div>
			                </div>
			            </div>
			        </div>

			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                    <div class="card-header card-header-icon" data-background-color="red">
			                        <i class="material-icons">insert_chart</i>
			                    </div>
			                    <div class="card-content">
			                        <h4 class="card-title">Ranking
			                            <small>- top 10 musicas - curtidas</small>
			                        </h4>
			                    </div>
			                    <div id="deslikeCharts" class="ct-chart"></div>
			                </div>
			            </div>
			        </div>
			</div>
		</div>
	</div>


	<% include partials/script %>
	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<!-- <script src="/js/plugins/moment.min.js"></script> -->
	<script src="/js/plugins/moment-with-locales.min.js"></script>
	<!-- DateTimePicker Plugin -->
	<script src="/js/plugins/bootstrap-datetimepicker.js"></script>
	<!--  Charts Plugin -->
	<script src="/js/plugins/chartist.min.js"></script>
	<script src="/js/init/initDatetimepickers.js"></script>
	<!-- <script src="/js/init/charts.js"></script>
	<script src="/js/init/initChartsPage.js"></script> -->
	

	<script>
		// var ps = new PerfectScrollbar('#myscroll');
		// $('.sidebar-wrapper').perfectScrollbar();
		// $('.content-panel').perfectScrollbar();

		$('.myScroll').each(function(){
		    $(this).perfectScrollbar();
		});

		function initChartsCurtidas(){
			dataCurtidasChart = JSON.parse('<%- JSON.stringify(curtidaCharts) %>');

	        optionsDailySalesChart = {
	        	lineSmooth: Chartist.Interpolation.cardinal({
	                tension: 0
	            }),
	            low: 0,
	            high: <%= curtidaCharts.high %>, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
	            chartPadding: { top: 0, right: 0, bottom: 0, left: 0},
	            height: '300px'
	        }

	        var curtidasCharts = new Chartist.Bar('#curtidasCharts', dataCurtidasChart, optionsDailySalesChart);

	        md.startAnimationForLineChart(curtidasCharts);

		}

		function initChartsAirtimes(data){
			// dataAirtimeChart = JSON.parse(data);
			dataAirtimeChart = data;

	        optionsDailySalesChart = {
	        	lineSmooth: Chartist.Interpolation.cardinal({
					tension: 10
				}),
				axisY: {
					showGrid: true,
					offset: 40
				},
				axisX: {
					showGrid: false,
				},
				low: 0,
				high: data.high,
				showPoint: true,
				height: '300px'
	        }

	        var airtimeCharts = new Chartist.Line('#airtimeCharts', dataAirtimeChart, optionsDailySalesChart);

	        md.startAnimationForLineChart(airtimeCharts);

		}

		function initChartsAirtimesByPeriodo(){
			let dtInicial = new Date();
			let dtFinal = new Date();
			let tmpI = $('#id-dt-inicial').val();
			let tmpF = $('#id-dt-final').val();

			let dia = tmpI.substring(0, 2);
			let mes = tmpI.substring(3, 5);
			let ano = tmpI.substring(6, 10);
			dtInicial.setDate(dia);
			dtInicial.setMonth(parseInt(mes) - 1);
			dtInicial.setFullYear(ano);

			dia = tmpF.substring(0, 2);
			mes = tmpF.substring(3, 5);
			ano = tmpF.substring(6, 10);
			dtFinal.setDate(dia);
			dtFinal.setMonth(parseInt(mes) - 1);
			dtFinal.setFullYear(ano);
			
			
			// console.log('datainicial', dtInicial);
			// console.log('datafinal', dtFinal);

			var vai = {data_inicial: dtInicial, data_final: dtFinal};

			const request = $.ajax({
                url: '/airtime',
                type: 'POST',
                data: vai,
                // contentType: "application/json"
            });
            

            request.done(function (msg) {
                // console.log('getAirtimes() done');
                // console.log(msg);
                let ac = JSON.parse(msg);
                initChartsAirtimes(ac.airtimeCharts);
                // var json = JSON.parse(msg);

                // console.log('json.message:', json.message);
                // console.log('indexof.inserido:', json.message.indexOf('inserido'));
                // console.log('indexof.atualizado:', json.message.indexOf('atualizado'));

                // if(json.message.indexOf('inserido') >= 0 ){

                //     if (isLike){
                //         Curtida.plusLike();
                //         $('#ico-deslike-audio').removeAttr("style");
                //     } else {
                //         Curtida.plusDeslike();
                //         $('#ico-like-audio').removeAttr("style");
                //     }


                // } else if(json.message.indexOf('atualizado') >= 0){
                //     if (isLike){
                //         Curtida.plusLike();
                //         Curtida.minusDeslike();
                //         $('#ico-deslike-audio').removeAttr("style");
                //     } else {
                //         Curtida.plusDeslike();
                //         Curtida.minusLike();
                //         $('#ico-like-audio').removeAttr("style");
                //     }
                // }
            });

            request.fail(function (jqXHR, textStatus) {
                console.log('erro');
                console.log(jqXHR);
                console.log(textStatus);
                //swal("Erro!", textoErro1.textStatus, "error");
            });
		}


		$( document ).ready(function() {
			initChartsCurtidas();
			initChartsAirtimes(JSON.parse('<%- JSON.stringify(airtimeCharts) %>'));
			initDatetimepickers();
			initAirtimeStats();
		});
		
		
	</script>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	    const socket = io();

	    function initAirtimeStats() {
	        socket.on('airtime-stats', function(msg){
	            $('#id-qt-listeners').html(msg.listeners);
	            $('#id-qt-listeners-peak').html('<i class="material-icons">queue_music</i> Pico ouvintes ' + msg.listener_peak);
	        });

	        socket.on('comentario-io', function(msg){
	            if(msg._id != null && msg._id != undefined) {
	            	$('#id-qt-comentario').html(parseInt($('#id-qt-comentario').text()) + 1);
	            }
	        });
	    }

	</script>
</body>


</html>
