<!doctype html>
<html lang="pt-br">
<head>
    <% 
    	var title = 'Podcast'; 
    %>
    <% include partials/head %>
</head>

<body>
    <div class="wrapper">
    	<% include sidebar/sidebar %>
    	<div class="main-panel myScroll">
    		<% include navbar/navbar %>
			<div class="main-content">
			    <div class="container-fluid">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="card">
			                	<!-- action="/dashboard/podcast" id="TypeValidation"-->
			                	<!-- onSubmit="return submit_form_podcast()" -->
			                    <form id="form-podcast" role="form" class="form-horizontal" >
			                    	<% if (podcast._id !== undefined && podcast._id != null) { %>
										<input type="hidden" value="<%= podcast._id %>"/>
			                    	<%}%>
			                        <div class="card-header card-header-icon" data-background-color="blue">
				                        <i class="material-icons">library_books</i>
				                    </div>
			                        <div class="card-content">
			                        	<h4 class="card-title">Cadastro</h4>
			                            <div class="row">
			                                <label class="col-sm-2 label-on-left">Autor</label>
			                                <div class="col-sm-7">
			                                    <div class="form-group label-floating is-empty">
			                                        <label class="control-label"></label>
			                                        <% if (podcast.autor !== undefined && podcast.autor != null) { %>
			                                        	<input autocomplete="name" value="<%= podcast.autor %>" id="input-autor" class="form-control" name="autor" required="true" type="text">
			                                        <%} else {%>
			                                        	<input autocomplete="name" id="input-autor" class="form-control" name="autor" required="true" type="text">
			                                        <%}%>
			                                    <span class="material-input"></span></div>
			                                </div>
			                                <label class="col-sm-3 label-on-right">
			                                    <code>Obrigatório</code>
			                                </label>
			                            </div>
			                            <div class="row">
			                                <label class="col-sm-2 label-on-left">Título</label>
			                                <div class="col-sm-7">
			                                    <div class="form-group label-floating is-empty">
			                                        <label class="control-label"></label>
			                                        <% if (podcast.titulo !== undefined && podcast.titulo != null) { %>
			                                        	<input autocomplete="titulo" value="<%= podcast.titulo %>" id="input-titulo" class="form-control" name="titulo" required="true" type="text">
			                                        <%} else {%>
			                                        	<input autocomplete="titulo" id="input-titulo" class="form-control" name="titulo" required="true" type="text">
			                                        <%}%>
			                                    <span class="material-input"></span></div>
			                                </div>
			                                <label class="col-sm-3 label-on-right">
			                                    <code>Obrigatório</code>
			                                </label>
			                            </div>
			                            <div class="row">
			                                <label class="col-sm-2 label-on-left">Sub título</label>
			                                <div class="col-sm-7">
			                                    <div class="form-group label-floating is-empty">
			                                        <label class="control-label"></label>
			                                        <% if (podcast.subtitulo !== undefined && podcast.subtitulo != null) { %>
			                                        	<input id="input-subtitulo" value="<%= podcast.subtitulo %>" autocomplete="subtitulo" class="form-control" name="subtitulo" required="true" type="text">
			                                        <%} else {%>
			                                        	<input id="input-subtitulo" autocomplete="subtitulo" class="form-control" name="subtitulo" required="true" type="text">
			                                        <%}%>
			                                    <span class="material-input"></span></div>
			                                </div>
			                                <label class="col-sm-3 label-on-right">
			                                    <code>Obrigatório</code>
			                                </label>
			                            </div>
			                            <div class="row">
			                                <label class="col-sm-2 label-on-left">Descrição</label>
			                                <div class="col-sm-7">
			                                    <div class="form-group label-floating is-empty">
			                                        <label class="control-label"></label>
			                                        <% if (podcast.descricao !== undefined && podcast.descricao != null) { %>
			                                        	<textarea id="input-descricao" class="form-control" name="descricao" required="true" rows="5"><%= podcast.descricao %></textarea>
			                                        <%} else {%>
			                                        	<textarea id="input-descricao" class="form-control" name="descricao" required="true" rows="5"></textarea>
			                                        <%}%>
			                                    <span class="material-input"></span></div>
			                                </div>
			                                <label class="col-sm-3 label-on-right">
			                                    <code>Obrigatório</code>
			                                </label>
			                            </div>
										<div class="row">
											<label class="col-sm-2 label-on-left"></label>
											<div class="col-md-4 col-sm-4">
				                                <legend>Capa</legend>
				                                <% if (podcast.capa !== undefined && podcast.capa != null) { %>
				                                <div class="fileinput text-center fileinput-exists" data-provides="fileinput">
				                                    <div class="fileinput-new thumbnail">
				                                        <img alt="..." src="/img/image_placeholder.jpg">
				                                    </div>
				                                    <div class="fileinput-preview fileinput-exists thumbnail" style="">
				                                    	<img alt="..." src="<%= podcast.capa %>">
				                                    </div>
												<%} else {%>
												<div class="fileinput fileinput-new text-center" data-provides="fileinput">
													<div class="fileinput-new thumbnail">
														<img alt="..." src="/img/image_placeholder.jpg">	
				                                    </div>
				                                    <div class="fileinput-preview fileinput-exists thumbnail" style=""></div>
				                                <%}%>
				                                    <div>
				                                        <span class="btn btn-blue btn-round btn-file">
				                                            <span class="fileinput-new">Selecione a imagem</span>
				                                            <span class="fileinput-exists">trocar</span>
				                                            <input type="hidden">
				                                            <% if (podcast.capa !== undefined && podcast.capa != null) { %>
					                                        	<input id="podcast-capa" value="<%= podcast.capa %>" name="capa" type="file" accept="image/jpeg">
															<%} else {%>
																<input id="podcast-capa" name="capa" type="file" accept="image/jpeg">
															<%}%>
				                                        	<div class="ripple-container"></div>
				                                        </span>
				                                        <a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput" href="#pablo"><i class="fa fa-times"></i> Remover</a>
				                                    </div>
				                                </div>
				                            </div>
											<div class="col-md-4 col-sm-4">
												<legend>Áudio</legend>
											<% if (podcast.capa !== undefined && podcast.capa != null) { %>
				                                <div class="fileinput text-center fileinput-exists" data-provides="fileinput">
			                                <%} else {%>
			                                	<div class="fileinput fileinput-new text-center" data-provides="fileinput">
			                                <%}%>
				                                    <div class="thumbnail" style="max-width: 100px">
				                                        <img alt="..." src="<%= path %>img/audio-volume.png">
				                                    </div>
				                                    <div>
				                                        <span class="btn btn-blue btn-round btn-file">
				                                            <span class="fileinput-new">Selecione o áudio</span>
				                                            <span class="fileinput-exists">Trocar</span>
				                                            <input type="hidden">
				                                            <% if (podcast.audio !== undefined && podcast.audio != null) { %>
					                                        	<input id="podcast-audio" value="<%= podcast.audio %>" name="audio" type="file" accept="audio/*">
															<%} else {%>
																<input id="podcast-audio" name="audio" type="file" accept="audio/*">
															<%}%>
				                                        	<div class="ripple-container"></div>
				                                       	</span>
				                                        <a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput" href="#pablo"><i class="fa fa-times"></i> Remover</a>
				                                    </div>
				                                </div>

				                                <!-- <label class="col-sm-2 label-on-left">Áudio</label>
				                                <div class="col-sm-7">
				                                	<form action="/dashboard/podcast/upload" method="post" enctype="multipart/form-data">
														<div class="picture-container">
				                                            <div class="picture">
				                                                <img class="audio-src" src="<%= path %>img/audio-volume.png" title="">
				                                                <input type="file"  name="audio" required="true"> accept="audio/*"
				                                            </div>
				                                            <button class="btn btn-blue btn-fill" type="submit">Enviar audio</button>
				                                        </div>
				                                    </form>
				                                </div>
				                                <label class="col-sm-3 label-on-right">
				                                    <code>required</code>
				                                </label> -->
				                            </div>
				                            <label class="col-sm-3 label-on-right"></label>
			                            </div>
			                        </div>
			                        <div class="card-footer text-center">
			                        	<% if (podcast._id !== undefined && podcast._id != null) { %>
			                        		<button class="btn btn-blue btn-fill" type="button" onclick="Podcast.edit(editPodcast)">Atualizar</button>
			                        	<%} else {%>
			                        		<button class="btn btn-blue btn-fill" type="button" onclick="Podcast.save()">Salvar</button>
			                        	<%}%>
			                            <!-- <button class="btn btn-blue btn-fill" type="submit">Salvar</button> -->
			                        </div>
			                    </form>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<% include partials/script %>
	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="/js/plugins/jasny-bootstrap.min.js"></script>
	<!-- Sweet Alert 2 plugin -->
	<script src="/js/plugins/sweetalert2.min.js"></script>
	<!-- Forms Validations Plugin -->
	<script src="/js/core/jquery.validate.min.js"></script>
	<script src="/js/podcast.js"></script>
	<script>
		$('.myScroll').each(function(){
		    $(this).perfectScrollbar();
		});

		
		var editPodcast = JSON.parse('<%- editPodcast %>');
		console.log('podcast',editPodcast);
	</script>

</body>
</html>
